		<div id="collect" class="collect">
			
			<ul class="mui-table-view">

				<li class="mui-table-view-cell" ng-repeat="item in list track by $index" id="{{item.id}}">
					<div class="mui-slider-right mui-disabled">
						<span class="mui-btn">
							<a ng-click="collect(item)">取消收藏</a>
						</span>
					</div>
					<div class="mui-slider-handle">
						<img class="mui-media-object mui-pull-left" src="images/muwu.jpg">
						<div class="mui-media-body">
							<h4>{{item.name}}</h4>
							<p>{{item.discript}}</p>
							<span><em>{{item.price}}</em> 元/个</span>
						</div>
						<div class="mui-numbox count" ng-class="{'number':item.count>0}">
							<button class="mui-numbox-btn-minus" ng-click="count('del',item)">-</button>
							<span class="mui-numbox-input" ng-bind="item.count || 0">0</span>
							<button class="mui-numbox-btn-plus" ng-click="count('add',item)">+</button>
						</div>
					</div>
				</li>
				

			</ul>
		</div>