<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
	<title>微信外卖</title>
	<link href="css/mui.min.css" rel="stylesheet"/>
	<link href="css/style.css" rel="stylesheet"/>
</head>
<body ng-app="app">

	<header ng-controller="Header" class="mui-bar mui-bar-nav notice">通告栏通知：弹出显示5s后自动收起，如需查看，请在个人中心查看.....</header>

	<nav class="mui-bar gotopay" ng-controller="Subfoot">
		<div ng-if="status === 'normal'" >
			<span>共 <b>20</b> 件， 总额：<em>48.00</em> 元</span>
			<a class="mui-btn mui-btn-warning"  href="#/pay">去结算</a>
		</div>
		<form class="pay_submit" action="#/payfor" ng-if="status === 'submit'">
			<button class="mui-btn">返回上级</button>
			<button class="mui-btn submit" type="submit">下一步</button>
		</form>
		<form class="pay_submit" action="#/" ng-if="status === 'payfor'"> 
			<button class="mui-btn">返回上级</button>				
			<button class="mui-btn submit" type="submit" id="alertBtn">确认支付</button>
		</form>
	</nav>

	<nav class="mui-bar footer" ng-controller="Footer">
		<a class="mui-item" ng-click="index(0)" ng-class="{'mui-active':idx === 0}">
			<span class="mui-icon mui-icon-home"></span>
			<span class="mui-tab-label">首页</span>
		</a>
		<a class="mui-item" ng-click="index(1)" ng-class="{'mui-active':idx === 1}">
			<span class="mui-icon mui-icon-starhalf"></span>
			<span class="mui-tab-label">收藏</span>
		</a>
		<a class="mui-item" ng-click="index(2)" ng-class="{'mui-active':idx === 2}">
			<span class="mui-icon mui-icon-bars"><span class="mui-badge">9</span></span>
			<span class="mui-tab-label">订单</span>
		</a>
		<a class="mui-item" ng-click="index(3)" ng-class="{'mui-active':idx === 3}">
			<span class="mui-icon mui-icon-person"></span>
			<span class="mui-tab-label">我的</span>
		</a>
	</nav>


	<div ng-view="" class="mui-content content"></div>

	
	<script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
	<script src="js/mui.min.js"></script>
	<script src="js/angular.min.js"></script>
	<script src="js/angular-route.min.js"></script>
	<script src="js/angular-touch.min.js"></script>
    <script src="js/angular-local-storage.min.js"></script>

	<script src="js/app.js"></script>

	
</body>
</html>