
	<div class="mui-segmented-control order_tab">
		<a class="mui-control-item " href="#item1">订单状态</a>
		<a class="mui-control-item mui-active" href="#item2">订单详情</a>
	</div>	


	<div class="mui-control-content order-widget-orderhistory" id="item1">
		<div data-node="timeLine" class="timeline"></div>
		<div class="relative-wrapper">
			
			<div class="item" ng-repeat="item in detail.step track by $index">
				<div class="status-icon">
					<span class="myline -mark"><i class="icon {{['icon-lianxirenzheng','icon-fukuan','icon-quxiao'][item.type]}}"></i></span>
				</div>
				<div class="status-card">
					<div class="card-arrow"></div>
					<div class="card-content">
						<p class="big">
							{{['订单提交成功','待支付','取消'][item.type]}}
							<span ng-bind="item.time"></span>
						</p>
						<p class="small" ng-bind="item.msg"></p>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="mui-control-content mui-active pay order_detail" id="item2">
		
		<ul class="mui-table-view mui-table-view-chevron">
			<li class="mui-table-view-divider">
				<i class="icon icon-shangpin"></i> 商品列表
				<span href="" class="mui-pull-right">商品总额：<em><b ng-bind="detail.goods_price">0</b></em> 元</span>
			</li>
			<li class="mui-table-view-cell" ng-repeat="item in detail.goods track by $index">
				{{item.name}}
				<span class="mui-pull-right"><em ng-bind="item.price">0.00</em> 元</span>
				<span class="mui-posa-right">{{item.amount}} 份</span>
			</li>
		</ul>

		<ul class="mui-table-view pay_prefer">
			<li class="mui-table-view-divider">
				<i class="icon icon-youhui"></i> 优惠活动
				<span href="" class="mui-pull-right ">享受优惠：<em ng-bind="detail.coupon_price">0.00</em> 元</span>
			</li>
			
			<li class="mui-table-view-cell mui-left" ng-repeat="item in detail.coupon track by $index">
				{{item.name}}
				<span class="mui-pull-right">省 <b ng-bind="item.price">0</b> 元</span>
			</li>
		</ul>

		<ul class="mui-table-view">
			<li class="mui-table-view-divider"><i class="icon icon-1156waimai"></i> 配送信息</a></li>

			<li class="mui-table-view-cell">
				<i class="icon icon-crmtubiaohuaban35fuben3773"></i>收货人
				<span class="mui-pull-right" ng-bind="detail.user_name"></span>
			</li>
			<li class="mui-table-view-cell">
				<i class="icon icon-shouji"></i>联系电话
				<span class="mui-pull-right" ng-bind="detail.user_phone"></span>
			</li>
			<li class="mui-table-view-cell">
				<i class="icon icon-dizhi"></i>联系地址
				<span class="mui-pull-right" ng-bind="detail.user_addr">地址</span>
			</li>
			<li class="mui-table-view-cell">
				<i class="icon icon-shijian"></i>配送时间
				<span class="mui-pull-right" ng-bind="detail.time_claim">立即派送</span>
			</li>
			<li class="mui-table-view-cell">
				<i class="icon icon-beizhu"></i>备注信息
				<span class="mui-pull-right" ng-bind="detail.remark"></span>
			</li>
			<li class="mui-table-view-cell">
				<i class="icon icon-fukuan"></i>支付方式
				<span class="mui-pull-right" ng-bind="detail.pay_type"></span>
			</li>


		</ul> 

	
	</div>

