<div class="index order_score">


	<h1>
		<span><em ng-bind="cache.price">0.00</em>元</span>
		<small>{{cache.name}}<br>共计<em ng-bind="cache.amount">5</em>份</small>
	</h1>


	<h6><span>服务评价</span></h6>	
	
	<h3>
		<b ng-class="{'no':cache.socre<1}" ng-click="changeScore(1)">★</b>
		<b ng-class="{'no':cache.socre<2}" ng-click="changeScore(2)">★</b>
		<b ng-class="{'no':cache.socre<3}" ng-click="changeScore(3)">★</b>
		<b ng-class="{'no':cache.socre<4}" ng-click="changeScore(4)">★</b>
		<b ng-class="{'no':cache.socre<5}" ng-click="changeScore(5)">★</b>
	</h3>
	<p>点击星星对此次服务进行评价</p>


	<div class="order_score_btn">
		<a class="mui-btn mui-btn-warning" ng-click="setScore()">确定评价</a>	
		<a class="mui-btn" href="#/order_detail">查看明细</a>	
		<a class="mui-btn" href="#/order">返回订单</a>
	</div>
		

</div>

